# dependencies
node_modules/

# pnpm
.pnpm-store/

# build
dist/
out/
coverage/

# TypeScript
*.tsbuildinfo

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Environment
.env
.env*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo
